{% if site.data.certifications %}
<div class="certificate-container container-block">

  <h2 class="container-block-title">Certifications</h2>

    <ul class="list-unstyled certificate-list">
      {% for certificate in site.data.certifications %}

      {% if certificate.link %}
        <li><p>
          <a href="{{ certificate.link }}"><b>{{ certificate.item }}</b></a>
          <br>
          <i>Issued by: </i>{{ certificate.issuer }} }}
          </p></li>
        {% else %}
        <li>{{ certificate.item }}</li>
        {% endif %}

      {% endfor %}
    </ul>

</div><!--//certificate-->
{% endif %}
