{% if site.data.skills %}
<section class="skills-section section">

    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

    <div class="skillset">
        {% for skill in site.data.skills %}
        <div class="item">
            <h4 class="level-title">{{ skill.name }}</h4>
            <div class="level-bar">
                <div class="meter {{ skill.theme }}">
        <span style="width: {{ skill.level }};">
          <!-- <span>{{ skill.name }}</span> -->
        </span>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</section>
{% endif %}
